In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Fort Nelson,58.8053,-122.7002,-11.61,77,100,4.61,CA,2022-02-04 07:06:54
1,1,Port Alfred,-33.5906,26.8910,71.80,64,100,13.91,ZA,2022-02-04 07:06:12
2,2,Chokurdakh,70.6333,147.9167,-29.49,100,14,0.85,RU,2022-02-04 07:06:55
3,3,Pangnirtung,66.1451,-65.7125,-13.90,100,100,4.59,CA,2022-02-04 07:06:55
4,4,Kaitangata,-46.2817,169.8464,48.60,94,100,5.48,NZ,2022-02-04 07:06:56

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [12]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [17]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

#max_temp
# Assign the figure variable.
#fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=temps)
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [22]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
6,6,Vaini,-21.2000,-175.2000,78.96,89,75,6.91,TO,2022-02-04 07:06:57
9,9,Morant Bay,17.8815,-76.4093,76.62,83,6,8.03,JM,2022-02-04 07:06:58
14,14,Rikitea,-23.1203,-134.9692,78.03,77,100,15.93,PF,2022-02-04 07:07:01
16,16,Esperance,-33.8667,121.9000,78.91,51,5,20.36,AU,2022-02-04 07:07:02
18,18,Bandarbeyla,9.4942,50.8122,79.25,53,5,15.52,SO,2022-02-04 07:03:02
20,20,Liwale,-9.7667,37.9333,76.55,84,100,5.66,TZ,2022-02-04 07:07:04
22,22,Dutlwe,-23.9833,23.9000,75.27,67,59,4.59,BW,2022-02-04 07:07:05
23,23,Yulara,-25.2406,130.9889,87.64,18,96,14.97,AU,2022-02-04 07:07:05
26,26,Butaritari,3.0707,172.7902,82.51,75,1,16.13,KI,2022-02-04 07:07:06
38,38,Mahebourg,-20.4081,57.7000,83.25,83,99,20.80,MU,2022-02-04 07:07:11

In [23]:
preferred_cities_df.count()

City_ID       131
City          131
Lat           131
Lng           131
Max Temp      131
Humidity      131
Cloudiness    131
Wind Speed    131
Country       129
Date          131
dtype: int64

In [24]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
6         Vaini      TO     78.96 -21.2000 -175.2000
9    Morant Bay      JM     76.62  17.8815  -76.4093
14      Rikitea      PF     78.03 -23.1203 -134.9692
16    Esperance      AU     78.91 -33.8667  121.9000
18  Bandarbeyla      SO     79.25   9.4942   50.8122
20       Liwale      TZ     76.55  -9.7667   37.9333
22       Dutlwe      BW     75.27 -23.9833   23.9000
23       Yulara      AU     87.64 -25.2406  130.9889
26   Butaritari      KI     82.51   3.0707  172.7902
38    Mahebourg      MU     83.25 -20.4081   57.7000

In [29]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    #hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [30]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
6,Vaini,TO,78.96,-21.2000,-175.2000,Keleti Beach Resort
9,Morant Bay,JM,76.62,17.8815,-76.4093,Whispering Bamboo Cove Resort
14,Rikitea,PF,78.03,-23.1203,-134.9692,People ThankYou
16,Esperance,AU,78.91,-33.8667,121.9000,Hospitality Esperance
18,Bandarbeyla,SO,79.25,9.4942,50.8122,JABIR HOTEL
...,...,...,...,...,...,...
548,Yeppoon,AU,83.98,-23.1333,150.7333,Villa Mar Colina
549,Bogo,PH,76.19,11.0517,124.0055,Acrige Apartelle 2 pax Twin @ heart of Bogo City
557,Chaiyaphum,TH,88.57,15.7500,102.0000,BBM Hotel
559,Oron,NG,79.21,4.8256,8.2343,Aqua Belloni Lodge
560,Saint-Pierre,RE,85.68,-21.3393,55.4781,Lindsey Hôtel

In [33]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [35]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [36]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))