## Deliverable 3. Create a Travel Itinerary Map.

In [176]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [177]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("..\Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,497,The Valley,AI,77.09,overcast clouds,18.2170,-63.0578,CeBlue Villas & Beach Resort
1,35,Mossamedes,AO,76.87,overcast clouds,-15.1961,12.1522,Hotel Chik Chik Namibe
2,275,Soyo,AO,78.80,overcast clouds,-6.1349,12.3689,Hotel Mpampa
3,153,Carnarvon,AU,79.57,clear sky,-24.8667,113.6333,Hospitality Carnarvon
4,318,Yulara,AU,87.80,clear sky,-25.2406,130.9889,Desert Gardens Hotel - Ayers Rock Resort

In [178]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} 째F</dd>
<dt>Max Temp</dt><dd>{Max Temp} 째F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [179]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)


# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [196]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Mumbai']

vacation_end = vacation_df.loc[vacation_df['City'] == 'Mumbai']

vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Sarkhej']

vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Birmitrapur']

vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Port Blair']

In [197]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = vacation_start.to_numpy()
# Need to create the list to add latitude-longitude pairs
start_list = []
start_list.append(start[0][5])
start_list.append(start[0][6])

#Create tuple from the list
start_tuple = tuple(start_list)

end = vacation_end.to_numpy()
# Need to create the list to add latitude-longitude pairs
end_list = []
end_list.append(end[0][5])
end_list.append(end[0][6])

#Create tuple from the list
end_tuple = tuple(end_list)

stop1 = vacation_stop1.to_numpy()
# Need to create the list to add latitude-longitude pairs
stop1_list = []
stop1_list.append(stop1[0][5])
stop1_list.append(stop1[0][6])

#Create tuple from the list
stop1_tuple = tuple(stop1_list)

stop2 = vacation_stop2.to_numpy()
# Need to create the list to add latitude-longitude pairs
stop2_list = []
stop2_list.append(stop2[0][5])
stop2_list.append(stop2[0][6])

#Create tuple from the list
stop2_tuple = tuple(stop2_list)

stop3 = vacation_stop3.to_numpy()
# Need to create the list to add latitude-longitude pairs
stop3_list = []
stop3_list.append(stop3[0][5])
stop3_list.append(stop3[0][6])

#Create tuple from the list
stop3_tuple = tuple(stop3_list)

In [201]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

StartEndCity1 = gmaps.directions_layer(
        start_tuple, end_tuple, waypoints=[stop1_tuple] + [stop2_tuple] + [stop3_tuple],
        travel_mode='DRIVING')
fig.add_layer(StartEndCity1)
#marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig

Figure(layout=FigureLayout(height='420px'))

In [202]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,248,Mumbai,IN,84.18,smoke,19.0144,72.8479,Hotel Avon Ruby-Dadar
1,161,Sarkhej,IN,84.33,smoke,22.9833,72.5000,Hotel Royal
2,486,Birmitrapur,IN,75.52,scattered clouds,22.4000,84.7667,Mr Raja Home
3,668,Port Blair,IN,86.04,few clouds,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"

In [203]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} 째F</dd>
<dt>Max Temp</dt><dd>{Max Temp} 째F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [204]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))